{% set show_controls = fields.show_controls is defined ? fields.show_controls : true %}
{% set use_categories = fields.show_cats is defined and fields.show_cats %}
{% set items = [] %}
{% if use_categories and fields.categories is iterable %}
  {% set items = fields.categories %}
{% elseif fields.links is iterable %}
  {% set items = fields.links %}
{% endif %}
<section class="rb-links" aria-label="Main links">
  <div class="rb-links__track" data-has-controls="{{ show_controls ? '1' : '0' }}">
    {% for it in items %}
      {% set label = it.title ?? it.name ?? '' %}
      {% set url   = it.url ?? (it.link ?? '') %}
      {% set icon  = it.icon ?? '' %}
      {% set img   = it.image ?? '' %}
      <a class="rb-links__item" href="{{ url|default('#') }}">
        {% if img %}
          <span class="rb-links__thumb"><img src="{{ img }}" alt=""></span>
        {% else %}
          <span class="rb-links__icon {{ icon|default('sicon-store2') }}"></span>
        {% endif %}
        <span class="rb-links__label">{{ label }}</span>
      </a>
    {% else %}
      <div class="rb-links__empty">Configure links in theme settings.</div>
    {% endfor %}
  </div>
</section>