{# src/views/layouts/master.twig #}
<!DOCTYPE html>
<html lang="{{ locale.code|default('ar') }}">
<head>
  {% include "components/common/header.twig" ignore missing %}
  <link rel="stylesheet" href="{{ 'css/aura.css' | asset }}">
  <link rel="stylesheet" href="{{ 'css/theme.css' | asset }}">
</head>
<body class="tw-aura">
  <main id="app">
    {% block content %}{% endblock %}
  </main>

  {% include "components/common/footer.twig" ignore missing %}

  <script defer src="{{ 'js/aura.js'  | asset }}"></script>
  <script defer src="{{ 'js/theme.js' | asset }}"></script>
  {# page-level scripts can be added by pages with {% block scripts %}{% endblock %} #}
  {% block scripts %}{% endblock %}
</body>
</html>
